html {
    font-family: 'Helvetica neue', Arial, 'fantasy';
  }
header {
    background-color: rgb(25, 240, 140);
    height: 5em;
    padding: 1.5em;
  }
  p.purpose,p.kannsou{
      border: 3px dotted cyan;
      padding: 10px;
      margin: 15px;
      width: auto;
      height: auto;
      background: lightcyan;
  }
  p.kadai{
    border: 3px double rgb(0, 218, 145);
    padding: 10px;
    margin: 15px;
    width: auto;
    height: auto;
    background: rgb(200, 255, 228);
  }
  h1{
      text-shadow: -3px 3px 1px rgb(255, 255, 255);
  }
  h2{
      color: rgb(0, 196, 186);
  }
  h3{
      color: rgb(0, 119, 255);
  }
  span{
      background-color: lightgreen;
  }
  rink{
      background-color: rgb(154, 190, 255);
  }
  em.title{
      color: blue;
  }
  a:link{
      color: rgb(67, 196, 247);
  }
  a:visited{
      color: lightgreen;
  }
  a:hover{
      text-decoration: none;
      color: aqua;
  }